.contact-title {
  text-align: center;
  text-transform: uppercase;
}
.contact-content {
  text-align: center;
}
.contact-container__line2 {
  width: 15%;
  margin-left: auto;
  margin-right: auto;
  height: 4px;
  background: #0d6efd;
  margin-bottom: 30px;
}
.form-line {
  height: 2px;
  background: #0d6efd;
  margin-bottom: 30px;
}
.con-form {
  display: flex;
  /* margin: 0 2rem 0 2rem; */
}
.contact-content {
  margin: 2% 10%;
  background: white;
  position: relative;
  z-index: 2;
  padding: 3rem;
}
.form {
  width: 50%;
}

.form-group {
  width: 50%;
}
input,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  outline: 0;
  border: 0.5px solid #1e1e1e;
  border-radius: 10px;
}
.con-h2 {
  color: #1e1e1e !important;
  text-align: start;
}
.google-map {
  width: 50%;
}
.modal-background {
  background-image: url("./images/contact-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 10px 50px 40px 50px;
  display: flex;
  position: relative;
}
.modal-background::before {
  content: ""; /* Required for pseudo-elements */
  position: absolute; /* Position overlay on top of the image */
  top: 0; /* Stretch overlay from top to bottom */
  left: 0; /* Stretch overlay from left to right */
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgba(13, 110, 253, 0.5); /* Semi-transparent color */
  z-index: 1; /* Ensure the overlay is above the background image */
}
.google-map {
  margin-left: 1rem;
}
.map-adress-item {
  text-align: start;
}
.map-adress-item a {
  text-decoration: none;
  color: #1e1e1e !important;
}
@media (max-width: 576px) {
  .contact-title {
    font-size: 2em;
  }
  .con-h2 {
    font-size: 2em;
  }
  textarea {
    height: 150px;
  }
  .con-form {
    display: block;
  }
  .form-group {
    width: 100%;
    margin-bottom: 20px;
  }
  .form {
    width: 100%;
  }
  .google-map {
    width: 100%;
    margin-left: 0;
  }
  .modal-background {
    padding: 10px 20px 40px 20px;
  }
  .contact-content {
    margin: 0;
    padding: 3rem 3rem;
  }
}
@media (min-width: 576px) and (max-width: 992px) {
  .contact-content {
    padding: 2rem;
  }

  .contact-content-span {
    display: block;
  }
  .map-adress-item {
    margin-bottom: 5px;
  }
  input,
  textarea {
    margin-bottom: 12px;
  }
}
