@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevent horizontal overflow */
}

body {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400 !important;
  color: #444 !important;
}
h1,
h2,
h3,
strong {
  font-family: "Nunito Sans" !important;
  font-weight: 600 !important;
  color: #1e1e1e;
}
strong {
  font-size: 1.2em;
}
a:hover {
  color: white;
  opacity: 0.8;
}
