.mention-container {
  margin-bottom: 30px;
}

.mention-title {
  text-align: center;
  text-transform: uppercase;
  padding-top: 30px;
}
.mention-line {
  margin-bottom: 30px;
}

.accordion-button:not(.collapsed) {
  border: 2px solid var(--bs-accordion-active-bg);
  /* background-color: #cfe2ff; */
  background-color: rgba(207, 226, 255, 0.5);
  color: #0d6efd;
}
/* .accordion-button:not(.collapsed)::after {
  color: rgba(207, 226, 255, 0.5);
} */

.accordion {
  /* --bs-accordion-btn-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e"); */
  --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='skyblue'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}
.accordion-body a {
  color: #1e1e1e;
  text-decoration: none;
}

.color-blue {
  color: #0d6efd !important;
  text-decoration: none;
}
