.nav-link.active-link {
  color: #ffffff; /* Color for the active link */
  font-weight: bold; /* Optional: make the active link bold */
}

@media (min-width: 800px) and (max-width: 992px) {
  .navbar-nav {
    padding-left: 4em;
  }
}
