main a {
  text-decoration: none;
  color: #1e1e1e;
}

.user-container {
  text-align: center;
}
.profile-title {
  margin: 20px 0 !important;
}
.profile-login {
  color: #1e1e1e !important;
  margin: 10px 0;
}
.profile-boi {
  padding-top: 10px !important;
}
.profile-repo {
  color: #0d6efd;
}

@media (max-width: 576px) {
  .profile-avatar {
    max-width: 100%;
  }
  .user-container {
    padding: 3px;
  }
}
