.réalisation-container h1 {
  text-align: center;
  padding-top: 20px;
}

.img-p {
  width: 100% !important;
  height: 200px !important;
  object-fit: cover;
}

.réalisation-title {
  padding-top: 10px;
  text-align: center;
}
.button-container {
  text-align: center;
}

.card-footer {
  text-align: center;
}
@media (min-width: 576px) and (max-width: 992px) {
  .last-child {
    margin-top: 1rem;
  }
}
